.divHeader{
	background-color:#FBD603;
	height: 50px;
}

.menu {
    max-width:1200px;
    position:fixed;
    top: 31px;
    left: 400px;
    right: 0px;
    width: 78%;
    height: 50px;
    background: rgba(82,179,217,0.9);
    z-index: 100;
    -webkit-touch-callout: none;
}
.messageMarge {
width: 30px;
height: auto;
}
.back {
    width: 200px;
    height: auto;
    left: 30%;
    color: rgb(255, 255, 255);
    font-size: 30px;
    padding-left: 10px;
}
.back img {
	top: 5px;
    position: absolute;
    left: 30px;
    width: 40px;
    height: autopx;
    background-color: rgba(255,255,255,0.98);
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    margin-left: 15px;
    }
.back:active {
    background: rgba(255,255,255,0.2);
}
.name{
    position: absolute;
    top: 3px;
    left: 29%;
    font-family: 'Lato';
    font-size: 25px;
    font-weight: 300;
    color: rgba(255,255,255,0.98);
    cursor: default;
}
.last{
    position: absolute;
    top: 30px;
    left: 20%px;
    font-family: 'Lato';
    font-size: 11px;
    font-weight: 400;
    color: rgba(255,255,255,0.6);
    cursor: default;
}


/* M E S S A G E S */

.chat {
    height: auto;
    list-style: none;
    background: none;
    margin-left:0px;
    padding: 0 0 50px 0;
    margin-top: 60px;
}
.chat li {
    padding: 0.5rem;
    overflow: hidden;
    display: flex;
    height: auto;
}

.other .msg {
    width: 30px;
    margin-left:2px;
    order: 1;
    border-top-left-radius: 0px;
    box-shadow: -1px 2px 0px #D4D4D4;
}
.other:before {
    content: "";
    position: relative;
    top: 0px;
    right: 0px;
    width: 0px;
    height: 0px;
    border: 5px solid #fff;
    border-left-color: transparent;
    border-bottom-color: transparent;
}

.self {
    max-width: 100%;
}
.self .msg {
    background: #ebebeb none repeat scroll 0 0;
    border-radius: 3px;
    color: #646464;
    font-size: 14px;
    margin: 0;
    padding: 5px 10px 5px 12px;
    width: 100%;
    overflow:auto;
}
.msg {
    display: inline-block;
    padding: 0 0 0 10px;
    vertical-align: top;
    width: 92%;
    height: auto
    ;
}
.msg p {  background: #ebebeb none repeat scroll 0 0;
    border-radius: 3px;
    color: #646464;
    font-size: 14px;
    margin: 0;
    margin-right: 29px;
    padding: 5px 10px 5px 12px;
    height: auto;
}

.msg time {
    font-size: 0.7rem;
    color: #ccc;
    margin-top: 3px;
    float: right;
    -webkit-touch-callout: none;
    cursor: default;
}
.msg time:before{
    content:"\f017";
    color: #ddd;
    font-family: FontAwesome;
    display: inline-block;
    margin-right: 4px;
}

::-webkit-scrollbar {
    min-width: 12px;
    width: 12px;
    max-width: 12px;
    min-height: 12px;
    height: 12px;
    max-height: 12px;
    background: #e5e5e5;
    box-shadow: inset 0px 50px 0px rgba(82,179,217,0.9), inset 0px -52px 0px #fafafa;
}

::-webkit-scrollbar-thumb {
    background: #bbb;
    border: none;
    border-radius: 100px;
    border: solid 3px #e5e5e5;
    box-shadow: inset 0px 0px 3px #999;
}

::-webkit-scrollbar-thumb:hover {
    background: #b0b0b0;
  box-shadow: inset 0px 0px 3px #888;
}

::-webkit-scrollbar-thumb:active {
    background: #aaa;
  box-shadow: inset 0px 0px 3px #7f7f7f;
}

::-webkit-scrollbar-button {
    display: block;
    height: 26px;
}

/* T Y P E */

input.textarea {
    position: fixed;
    bottom: 0px;
    left: 26%;
    right: 0px;
    width: 60%;
    height: 50px;
    z-index: 99;
    background: #fafafa;
    border: none;
    outline: none;
    padding-left: 25px;
    padding-right: 55px;
    color: #666;
    font-weight: 400;
}
 .enviar{
    position: fixed;
    left: 1510px;
    top: auto;
    width: auto;
    bottom: 2%;
}