label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
    width: 300px;
margin-left: 200px;
}

#Formulario{
    width: 500px;
    text-align-last: auto;
    margin-left: 200px;
}