    #Ini{
        border-radius: 19px;
        outline: none;
        border: 0px;
        width: 260px;
        height: 54px;
        margin-left: 30%;
        background-color: #FA9A60;
        color: #ffffff;
        font-size: 20px;
        font-weight: bold;
        margin-top: 70px;
    }

    #Registrar{
    border-radius: 19px;
    outline: none;
    border: 0px;
    width: 260px;
    height: 65px;
    margin-left: 30%;
    background-color: #08D5B9;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    margin-top: 100px;
    }
    
    #usuario{
        margin-left: 60px;
        text-align: center;
        width: 80%;
        height: 45px;
    }
    
    #contra{
        margin-left: 60px;
        text-align: center;
        width: 80%;
        height: 45px;
        margin-top:70px;
    }
    

    #titulo{
    text-align: center;
     margin-left:100px ;
    margin-right: auto;
    }
    
    

    li{
        border-color: #ffffff;
    }

    
    #foto{
        background: #08D5B9 ;
    }

    #titulo{
        margin-left: 40px;
    }

    #login{
        background: #ffffff;
    }
    