#tabla {
    margin-top: 10px;
    margin-right: auto;
    margin-bottom: auto;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    font-weight: bold;
    width: 100px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    text-align: center;
    max-width:10px;
    
}

.styled-table thead tr {
    background-color: #FCAD6D;
    color: #ffffff;
    text-align: left;
    max-width:10px;

}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
    text-align: center;
    font-weight: bold;
    width: 12px;
    max-width:300px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #FCAD6D;
    max-width: 12px;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #FCAD6D;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #FCAD6D;

}